@using Microsoft.AspNetCore.Identity
@using garage87.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Garage 87</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="~/Customer/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Customer/plugin/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/Customer/fonts/poppins/poppins.css">
    <link rel="stylesheet" href="~/Customer/plugin/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Customer/plugin/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Customer/plugin/process-bar/tox-progress.css">
    <link rel="stylesheet" href="~/Customer/plugin/owl-carouse/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Customer/plugin/owl-carouse/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Customer/plugin/animsition/css/animate.css">
    <link rel="stylesheet" href="~/Customer/plugin/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Customer/plugin/mediaelement/mediaelementplayer.css">
    <link rel="stylesheet" href="~/Customer/plugin/datetimepicker/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="~/Customer/plugin/datetimepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/Customer/plugin/lightgallery/lightgallery.css">
    <link rel="stylesheet" href="~/Customer/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.43/fluent.css" />
    <script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>
    <link href="~/admin/dist/js/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/js/ej2/ej2.min.js"></script>
    <link rel="stylesheet" href="~/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <style>
        .field-validation-error {
            color: red;
            text-align: start;
            display: block;
        }
    </style>
</head>
<body>

    <!--load page-->
    <div class="load-page">
        <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
        </div>
    </div>


    <div class="uni-home-3">
        <div id="wrapper-container" class="site-wrapper-container">
            <header>
                <div class="uni-medicare-header sticky-menu">
                    <div class="uni-header-top">
                        <div class="container">
                            <div class="uni-header-top-left">
                                <!--LOGO-->
                                <div class="wrapper-logo" style="min-height:0px">
                                    <a class="logo-default" href="@Url.Action("Index","Home")"><img src="~/Customer/images/logo2.png" style="height:70px;width:100px" alt="" class="img-responsive"></a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="uni-header-top-right" style="padding-top:10px;padding-bottom:0px;">
                                <ul>
                                    <li>
                                        <div class="uni-header-top-icons">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                        <div class="uni-header-top-text">
                                            <span>Rua Ada Lovelace, 7</span>
                                            <h4>Portugal</h4>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <div class="uni-header-top-icons">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </div>
                                        <div class="uni-header-top-text">
                                            <span>Call us</span>
                                            <h4>912345678</h4>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <div class="uni-header-top-icons">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="uni-header-top-text">
                                            <span>Send a message</span>
                                            <h4>contact@garage87.com</h4>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="uni-medicare-header-main-home-3">
                        <div class="container">
                            <div class="uni-medicare-header-main">
                                <!--MENU TEXT-->
                                <div class="uni-main-menu">
                                    <nav class="main-navigation uni-menu-text">
                                        <div class="cssmenu">
                                            <ul>
                                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                                <li><a href="@Url.Action("Services","Home")">Services</a></li>
                                                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                                                @if (User.IsInRole("Customer"))
                                                {
                                                    <li><a href="@Url.Action("RepairHistory","Home")">Repair History</a></li>
                                                }
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <li><a href="@Url.Action("Index","Admin")">Go to Dashboard</a></li>
                                                }
                                                @if (User.IsInRole("Employee"))
                                                {
                                                    <li><a href="@Url.Action("EmployeeDashboard","Employees")">Go to Dashboard</a></li>
                                                }
                                                @if (User.IsInRole("Mechanic"))
                                                {
                                                    <li><a href="@Url.Action("Index","Mechanic")">Go to Dashboard</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </nav>
                                </div>

                                <!--SEARCH-->
                                <div class="uni-search-yop-home-3">
                                    <div id="custom-search-input" style="margin-top:15px">
                                        @if (User.IsInRole("Customer") || User.IsInRole("Employee") || User.IsInRole("Admin") || User.IsInRole("Mechanic"))
                                        {
                                            <div class="row align-items-center justify-content-between">
                                                <a id="manage" class="nav-link text-dark" asp-controller="Account" asp-action="ChangeUser" title="Manage">
                                                    Hello @UserManager.GetUserName(User)
                                                </a>
                                                <a asp-controller="Account" asp-action="Logout" class="text-white">Logout</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <a asp-controller="Account" asp-action="Login" style="color:white">Login</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div id="main-content" class="site-main-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Customer/plugin/jquery/jquery-2.0.2.min.js"></script>
    <script src="~/Customer/plugin/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Customer/plugin/bootstrap/js/bootstrap.js"></script>
    <script src="~/Customer/plugin/process-bar/tox-progress.js"></script>
    <script src="~/Customer/plugin/waypoint/jquery.waypoints.min.js"></script>
    <script src="~/Customer/plugin/counterup/jquery.counterup.min.js"></script>
    <script src="~/Customer/plugin/owl-carouse/owl.carousel.min.js"></script>
    <script src="~/Customer/plugin/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Customer/plugin/mediaelement/mediaelement-and-player.js"></script>
    <script src="~/Customer/plugin/masonry/masonry.pkgd.min.js"></script>
    <script src="~/Customer/plugin/datetimepicker/moment.min.js"></script>
    <script src="~/Customer/plugin/datetimepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Customer/plugin/datetimepicker/bootstrap-datepicker.tr.min.js"></script>
    <script src="~/Customer/plugin/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Customer/plugin/datetimepicker/bootstrap-datetimepicker.fr.js"></script>
    <script src="~/Customer/plugin/lightgallery/picturefill.min.js"></script>
    <script src="~/Customer/plugin/lightgallery/lightgallery.js"></script>
    <script src="~/Customer/plugin/lightgallery/lg-pager.js"></script>
    <script src="~/Customer/plugin/lightgallery/lg-autoplay.js"></script>
    <script src="~/Customer/plugin/lightgallery/lg-fullscreen.js"></script>
    <script src="~/Customer/plugin/lightgallery/lg-zoom.js"></script>
    <script src="~/Customer/plugin/lightgallery/lg-hash.js"></script>
    <script src="~/Customer/plugin/lightgallery/lg-share.js"></script>
    <script src="~/Customer/plugin/sticky/jquery.sticky.js"></script>
    <script src="~/js/notify/notify.min.js"></script>
    <script src="~/Customer/js/main.js"></script>
    <script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?39002';
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = url;

        var options = {
            "enabled": true,
            "chatButtonSetting": {
                "backgroundColor": "#4dc247",
                "ctaText": "",
                "borderRadius": "25",
                "marginLeft": "25",
                "marginBottom": "50",
                "marginRight": "50",
                "position": "left"
            },
            "brandSetting": {
                "brandName": "garage87",
                "brandSubTitle": "Typically replies within a hour",
                "welcomeText": "Hi, there!\nHow can I help you?",
                "messageText": "Hello, I have a question!",
                "backgroundColor": "#0a5f54",
                "ctaText": "Start Chat",
                "borderRadius": "25",
                "autoShow": false,
                "phoneNumber": "351912345678"
            }
        };

        // Check if the widget has already been created
        if (typeof window.whatsappChatWidgetInitialized === 'undefined') {
            window.whatsappChatWidgetInitialized = true;

            s.onload = function () {
                CreateWhatsappChatWidget(options);
            };

            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
    </script>


    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("SyncfusionScripts", required: false)
    <ejs-scripts></ejs-scripts>
    @await Component.InvokeAsync("Notyf")


</body>

</html>