@model garage87.Data.Entities.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Customer Details</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Country)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.VatNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.VatNumber)
                </dd>
            </dl>
        </div>
        <div div class="col-md-4">
            <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto" />
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
